<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">
      <%= link_to(bookmark.title,bookmark_path(bookmark.id)) %>
    </h4>
    <p class="list-group-item-text">
      <%= bookmark.url %>
      <%= bookmark.category %>
      <%= bookmark.favorite %>
    </p>
  </a>
</div>

