<ul>

<% bookmarks.each do |bookmark| %>
<li>
  <%= link_to(bookmark.title, bookmark.url) + " | " + bookmark.category + " | " +link_to("show", bookmark_path(bookmark.id)) %>
</li>

<% end %>
</ul>

<%= form_tag("/bookmarks/filter") do %>
  <%= select_tag(:filter_id, options_for_select([["none", Bookmark::NUM_OF_CATEGORIES]] + Bookmark::CATEGORIES)) %>
  <%= submit_tag("Filter") %>
<%end%>
