<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.hidden_field :bookmark_id %>
    <%= f.text_area(:message, size:"75x6") %>
  </div>

  <div class="action">
    <%= f.submit "Post Comment" %>
  </div>
<% end %>
