 <form action='/bookmarks' method='post'>

   <label> url
    <input type="text" id="bookmark_url" name="bookmark[:url]"></input>
   </label>
   <br>

   <label> Title
    <input type="text" id="bookmark_title" name="bookmark[:title}"></input>
   </label>
   <br>

   <label> Category
     <input type="text" id="bookmark_category" name="bookmark[:category]"></input>
   </label>
   <br>

   <label> Commentary
     <input type="text" id="bookmark_comments" name="bookmark[:comment]"></input>
   </label>
   <br>

   <input type='submit' value="Add Bookmark"></input>

 </form>
