    <div class="">
      <%= form_tag action_url do %>
        <%= label_tag 'Filter by category: ' %>
        <%= select_tag :category, options_for_select(categories, selected: category, include_blank: true) %>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
