<%= render 'header' %>
<div class="row">
  <div class="small-6 columns">
    <h2 class="title">Edit Bookmark</h2>
    <%= render 'form', bookmark: @view[:bookmark], btn_label: 'Update' %>
  </div>
</div>
