<%= stylesheet_link_tag "style.css" %>

<h1>Editing Bookmark</h1>

<%= render 'form' %>


<div class="navigation">
	<%= link_to 'Show', @bookmark %> |
	<%= link_to 'Back to Bookmarks', bookmarks_path %>
</div>