<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11">
    <h2><span class="glyphicon glyphicon-pencil pull-right"></span> Edit bookmark</h2>
    <h4><%= @bookmark.title %></h4>
  </div>
<hr>
</div>
<%= render 'form', bookmark: @bookmark %>
