<%= render 'header' %>
<div style="clear:both"></div>
<div class="row">
  <div class="small-12 columns">
    <h2 class="title">Bookmarks</h2>
      <ul class="list-container">
      <%= render partial: 'bookmark', collection: @view[:bookmarks] %>
      </ul>
   </div>
</div>
