<h1>Bookmarks</h1>
<% @bookmarks.each do |bookmark| %>
  <div class="bookmark-listing">
    <h2 class="bookmark-title"><%= link_to bookmark.title, bookmark.url %></h2>
    <%= link_to 'View Details', bookmark_path(bookmark), class: 'bookmark-link' %>
  </div>
<% end %>

<div>
  <%= link_to 'New Bookmark', new_bookmark_path %>  
</div>

<!-- 
<h3>< # %= bookmark.url %></h3>
<h4>< # %= bookmark.comment %></h4>
<h5>< # %= bookmark.category %></h5>
<h6>< # %= bookmark.checkbox %></h6>
 -->