<ul class="list-group">
<% @bookmarks.each do |bookmark| %>
  <li class="list-group-item"><strong><%= bookmark.title %></strong> | <%= bookmark.url %>
  | <%= link_to('Edit', edit_bookmark_path(bookmark)) %>
  </li>

  <!--| <%= link_to 'Destroy', bookmark, method: :delete, data: {confirm: 'Are you sure?'} %>-->
<% end %>

</ul>
