<%= link_to 'New Bookmark', new_bookmark_path %>

<ul>
<% @bookmarks.each do |bookmark| %>
  <li><%= link_to bookmark.title, bookmark %>
  <%= render :partial => 'editdelete', locals: {bookmark: bookmark} %>
  </li>
<% end %>
</ul>
