<h1> All bookmarks </h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
        <% if bookmark.favorite %>
          **
        <% end %>
        <%= bookmark.title %> --
        (<%= bookmark.category %>)
        <% if bookmark.comment %>
          ^^
        <% end %>
    </li>
  <% end %>
</ul>

<!-- TO DO -->

<!-- in INDEX.HTML.ERB
      1) title links to URL
      2) favorite and comment marked clearly (glyphs)
          a. add key to homepage
      5) Fixed header
          a. Add NEW BOOKMARK button
          b. Add 'Home' button
      6) fixed footer
          a. BOOKMARKr by Jake

      4) Add button linked to show to EACH bookmark
        -- link_to "jdjdj", bookmark_path(bookmark.id)
          a. create method / view for show
   -------------------------------------------------------
          b. show has EDIT and DELETE options
            i. destroy is simple enough
            ii. how to do edit???? -- edit/update methods

      3) Add CATEGORIES navigation buttons
          a. HOW TO DISPLAY category lists?? How to represent categories
          b. views will be identical to index
              i. somehow yield into index?? ****

      7) STYLE!!!!!
-->
