<h1> <%= @category %> bookmarks </h1>


<ul class="list">
  <% @bookmarks.each do |bookmark| %>
  <li class="text-left list_title">
    <strong><%= bookmark.title %></strong>
    <% if bookmark.category %>
    -- (<%= bookmark.category %>)
    <% end %>
    <% if bookmark.comment != "" %>
    ^^
    <% end %>

    <% if bookmark.favorite  %>
    **
    <% end %>

    <%= link_to "View", bookmark_path(bookmark.id), class: "view_path" %>
  </li>
  <% end %>
</ul>

<!-- TO DO -->

<!--  1) title links to URL
      2) favorite and comment marked clearly (glyphs)
          a. add key to homepage
      6) fixed footer
          a. BOOKMARKr by Jake

      4). bookmark show has EDIT and DELETE options
            i. destroy is simple enough
            ii. how to do edit???? -- edit/update methods
              -- make _form partial to use in new & edit

      3) Add CATEGORIES navigation buttons
        -in model, make CONST array of acceptable categories
          --validate that they passed in one of these (otherwise nil)
        - in controller, assign @bookmarks based on params[:category]
          ALSO define @category for index
        - in index, reference .category
          ALSO enumerate categories to make buttons, link to bookmarks/?category='this'
            --------HOW

      7) STYLE!!!!!
    -->
