<div class="wrapper">
<h1>Bookmarks</h1>
<h2><%= link_to 'New Bookmarks', new_bookmark_path %></h2>
</div>
<div class="wrapper">
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Link to Site</th>
    <th colspan="2"></th>
  </tr>
  <tr>
    <td>></td>


  </tr>
</table>
</div>
