<h1>Bookmark List</h1>

<div class="bookmark-list">
  <% @bookmarks.each do |bookmark| %>
    <div>
      <%= link_to bookmark.title, bookmark.url %>
      <%= bookmark.category %>
      <%= link_to 'Show', bookmark %>
    </div>

  <% end %>
</div>

<%= link_to 'New Bookmark', new_bookmark_path %>
