<h1> All bookmarks </h1>


<ul class="list">
  <% @bookmarks.each do |bookmark| %>
  <li class="text-left list_title">
    (<%= bookmark.category %>)-- <strong><%= bookmark.title %></strong>
    <% if bookmark.favorite %>
    **
    <% end %>
    <% if bookmark.comment %>
    ^^
    <% end %>

    <%= link_to "View", bookmark_path(bookmark.id), class: "view_path" %>
  </li>
  <% end %>
</ul>

<!-- TO DO -->

<!--  1) title links to URL
      2) favorite and comment marked clearly (glyphs)
          a. add key to homepage
      6) fixed footer
          a. BOOKMARKr by Jake

   -------------------------------------------------------
      4). bookmark show has EDIT and DELETE options
            i. destroy is simple enough
            ii. how to do edit???? -- edit/update methods

      3) Add CATEGORIES navigation buttons
          a. HOW TO DISPLAY category lists?? How to represent categories
          b. views will be identical to index
              i. somehow yield into index?? ****

      7) STYLE!!!!!
    -->
