<ul>All the bookmarks


<% @bookmarks.each do |bookmark| %>
<li>
  <%= link_to(bookmark.title, bookmark.url) + " | " + bookmark.category + " | " +link_to("show", bookmark_path(bookmark.id)) %>
</li>
<% end %>

