<h1> WELCOME TO BOOKMARKER </h1>

<% @bookmarks.each do |bookmark| %>
  <section class="bookmark">
    <h2><%= link_to bookmark.title, bookmark %>
    <% if bookmark.is_favorite %>
       <img src="http://icons.iconarchive.com/icons/hopstarter/sleek-xp-basic/256/Favorite-icon.png"></li>
      <% end %>
      <% if bookmark.comment.length > 0 %>
      <img src="http://www.ethicalinstyle.com/wp-content/uploads/comment.png">
      <% end %>
      </h2>
    <ul>
      <li>Category: <%= bookmark.category %></li>

    </ul>
  </section>
<% end %>

<button><%= link_to 'add a new bookmark', new_bookmark_path %></button>


