<h1>Bookmarks</h1>

<div class="bookmarks">
  <% @bookmarks.each do |bookmark| %>
  <div class="bookmark">
    <%= bookmark.title %>
    <%= link_to 'Edit', edit_bookmark_path(bookmark) %>
  </div>
  <% end %>
</div>
