<% @bookmarks.each do |bookmark| %>
  <div class="bookmark-listing">
    <h2 class="bookmark-title"><%= link_to bookmark.title, bookmark.url %></h2>
    <%= link_to 'View Details', bookmark_path(bookmark), class: 'bookmark-link' %>
    <% if bookmark.checkbox %>
       &#9733;
    <% end %>
    <% if bookmark.comments.length > 0 %>
      <span><%= bookmark.comments.length %> Comments</span>
    <% end %>
  </div>
<% end %>