
<div class="hero-unit">
  <h1 class="hero-text-index">Bookmarkr</h1>
  <p>saving bookmarks one day at a time</p>
  <p>
    <%= link_to('Add bookmark!', new_bookmark_path, :class => "btn btn-primary btn-large") %>
  </p>
</div>
<hr>
<br>

<ul class='list'>
  <% @bookmarks.each do |bookmark| %>
  <li> <%= link_to(bookmark.title, bookmark.url, :target => "_blank") %> </li>
  <% end %>
</ul>
<br>
<br>
<br>



<h4> <%= link_to('Manage your bookmarks', bookmarks_manage_path) %> </h4>



