<ul> All Bookmarks
<% @bookmarks.each do |bookmark| %>
  <li>
  Title is <%= bookmark.title %>,
  Category is <%= bookmark.category %>
  Is favorite? <%= bookmark.is_favorite %>
  </li>
<% end %>
</ul>


