<h1> All bookmarks </h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
        <% if bookmark.favorite %>
          **
        <% end %>
        <%= bookmark.title %> --
        <%= bookmark.category %>
        <% if bookmark.comment %>
          ^^
        <% end %>
    </li>
  <% end %>
</ul>

<!-- TO DO -->

<!-- in INDEX.HTML.ERB
      1) title links to URL
      2) favorite and comment marked clearly
      3) Add SHOW button to EACH bookmark
          a. create method / view for show
          b. show has EDIT and DELETE options
      4) Add CATEGORIES navigation button
          a. create method / views for each category
          b. somehow yield into index??
      5) Add NEW BOOKMARK button
      6) STYLE!!!!!
-->
