<h1>Blair's Nifty Bookmark App</h1>
<p>Here you will find bookmarks to all your awesome sites</p>
<div class="new-bookmark-containter"><%= link_to 'Create New Bookmark', new_bookmark_path, class: 'new-btn' %></div>

<div class="">
  <h3>Bookmarks</h3>
  <ul>
  <%= render partial: 'bookmark', collection: @bookmarks %>
  </ul>
</div>
