<h3>Your Bookmarks</h3>

<ul>

  <% @bookmarks.each do |bookmark| %>
  <li> <%= link_to(bookmark.title, bookmark.url, :target => "_blank") %></li>
  <% end %>

</ul>

<h4> <%= link_to('Manage your bookmarks', </h4>

