<div class="row">
  <div class="medium-3 columns">
    <aside>
      <ul class="side-nav">Categories
        <li><%= link_to "All", bookmarks_path %></li>
        <% @bookmarks.map(&:category).uniq.sort.each do |category| %>
          <li><%= link_to category, filter: category %></li>
        <% end %>
      </ul>
    </aside>
  </div>

  <div class="medium-9 columns">
    <h2>Bookmarks</h2>
    <div>
      <%= render partial: "bookmark", collection: @bookmarks %>
    </div>
  </div>
</div>
