<h1>All of your Bookmarks</h1>

<p><%= link_to "Create New Bookmark", new_bookmark_path%></p>

<dl>
<% @bookmarks.each do |bookmark| %>
	<dt><%=link_to bookmark.url %></dt>
	<dt><%=bookmark.title%></dt>
	<dt><%=bookmark.comment%></dt>
	<%end%>
</dl>

