<%= link_to 'New Bookmark', new_bookmark_path %>

<ul>
<% @bookmarks.each do |bookmark| %>
  <li><%= link_to bookmark.title, bookmark %>
  <%= link_to "Edit", edit_bookmark_path(bookmark) %> |
  <%= link_to "Delete", bookmark_path(bookmark), method: :delete, confirm: 'PZ BKMK?' %></li>
<% end %>
</ul>
