<div class="view_container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Viewing all Bookmarkr</h3>
    </div>
    <div class="panel-body">
      <table>
      <tr>
        <td>URL</td>
        <td>Title</td>
        <td>Category</td>
        <td>Favorite</td>
      </tr>
      <% @bookmarks.each do |bookmark| %>
      <tr>
        <td width="30%"><%= link_to bookmark.url, bookmark.url %></td>
        <td width="40%"><%= link_to bookmark.title, bookmark_path([bookmark]) %></td>
        <td width="20%"><%= bookmark.category.capitalize %></td>
        <td width="10%">
          <% if bookmark.is_favorite %>
            <img src="http://png.findicons.com/files/icons/1018/pixelicious/32/star.png">
          <% end %>
        </td>
      </div>
      </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
