<h1> All bookmarks </h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
        <% if bookmark.favorite %>
          **
        <% end %>
        <%= bookmark.title %> --
        <%= bookmark.category %>
    </li>
  <% end %>
</ul>

<!-- TO DO -->
<!-- show which bookmarks have comments and which are favorite -->
<!-- clicking a title links to the URL --
<!-- some option for viewing all attributes -->
<!-- ADD new (link to /new) && EDIT or DELETE existing -->
<!-- filter list by category -->
