
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="btn-group btn-group-vertical">
        <a class="btn btn-default" role="button">New</a>
        <a class="btn btn-default" role="button">Filter</a>
        <a class="btn btn-default" role="button">Favorites</a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-primary">
        <div class="panel-heading">Bookmarks</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <th>#</th>
              <th>Name</th>
              <th>Category</th>
              <th>Favorites <span class="glyphicon glyphicon-heart"></span></th>
              <th>Edit <span class="glyphicon glyphicon-pencil"></span></th>
              <th>Delete <span class="glyphicon glyphicon-trash"></span></th>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td><a href='www.youtube.com'>Youtube</a></td>
              <td>Entertainment</td>
              <td>yes</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href='http://www.pandora.com/account/sign-in'>Pandora Radio</a></td>
              <td>Music</td>
              <td>yes</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href='www.github.com'>Github</a></td>
              <td>Work</td>
              <td>yes</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
