
<div class="hero-unit">
  <h1>Bookmarkr</h1>
  <p>saving bookmarks one day at a time</p>
  <p>
    <%= link_to('Add a new bookmark', new_bookmark_path, :class => "btn btn-primary btn-large") %>
  </p>
</div>

<ul>

  <% @bookmarks.each do |bookmark| %>
  <li style="list-style-type: none;"> <%= link_to(bookmark.title, bookmark.url, :target => "_blank") %> </li>

  <% end %>

</ul>


<h4> <%= link_to('Manage your bookmarks', bookmarks_manage_path) %> </h4>



