<div class="view_container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Viewing all Bookmarkr</h3>
    </div>
    <div class="panel-body">
      <table>
      <tr>
        <td>URL</td>
        <td>Title</td>
        <td>Category</td>
        <td>Favorite</td>
      </tr>
      <% Bookmark.all.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.url, bookmark.url %></td>
        <td><%= bookmark.title %></td>
        <td><%= bookmark.category.capitalize %></td>
        <td><%= bookmark.is_favorite %></td>
        <td>
          <div class="dropdown theme-dropdown clearfix">
          <a id="dropdownMenu1" href="#" role="button" class="sr-only dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li class="active" role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
          </div>
        </td>
      </div>
      </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
