<h1> All bookmarks </h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
        <% if bookmark.favorite %>
          **
        <% end %>
        <%= bookmark.title %> --
        <%= bookmark.category %>
        <% if bookmark.comment %>
          ^^
        <% end %>
    </li>
  <% end %>
</ul>

<!-- TO DO -->

<!-- show which bookmarks have comments and which are favorite -->

<!-- clicking a title links to the URL --

<!-- filter list by category -->
<!-- maybe make separate view pages for the categories and -->
<!-- link to the category pages with a top menu?? -->

<!-- some option for viewing all attributes -->
<!-- i.e. define bookmarks#show to look at each -->
<!--      and add a button to "view" each bookmark -->

<!-- ADD new (link to /new) && EDIT or DELETE existing -->

<!-- style this page and bookmarks/new, and bookmarks/show -->
