<h2><%= link_to 'Add new bookmark', new_bookmark_path %></h2>



	<% @bookmarks.each do |bookmark| %>
		<h3><a href="bookmark.url"><%= bookmark.name %></a></h3>
		<ul>
			<li> <%= bookmark.url %> </li>
			<li> <%= link_to 'Edit', bookmark %></li>
		</ul>
	<% end %>


