<ul>Filter by Category
  <% @bookmarks.map(&:category).uniq.sort.each do |category| %>
    <li><%= link_to category, filter: category %></li>
  <% end %>
  <% unless params[:filter].nil? %>
    <li><%= link_to "Clear Filter", filter: nil %></li>
  <% end %>
</ul>

<ul>Bookmarks
<%= render partial: "bookmark", collection: @bookmarks %>
</ul>
<h3><%= link_to "Create a new bookmark", new_bookmark_path %></h3>
