<div class="header">
  <ul class="pull-right">
    <li><%= link_to 'Create New', new_bookmark_path, class: 'btn btn-lg btn-success' %></li>
  </ul>
  <h2>Index</h2>
</div>
<br>
<div class="jumbotron">
  <ul>
    <% @bookmarks.each do |bookmark| %>
    <li>
      <%= link_to bookmark[:title], bookmark %>
      <% if bookmark.favorite %>
        <span class="glyphicon glyphicon-star color"></span>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
