<h2><%= link_to 'Add new bookmark', new_bookmark_path %></h2>

<dl>

	<% @bookmarks.each do |bookmark| %>
		<dt> <a href="bookmark.url"><%= bookmark.name %></a> </dt>
		<dd> <%= bookmark.url %> </dd>
	<% end %>

</dl>
