<% Bookmark::VALID_CATEGORIES.each do |cat| %>
<div class="cat_type"<>%= cat %></div>
<% end %>
<div id="menu_type"><%= @category %> BookMarks</div>

Favorites  - <div class="glyphicon glyphicon-barcode"></div>
<br>
Comments  - <div class="glyphicon glyphicon-plus"></div>

<ul class="span6">
  <% @bookmarks.each do |bookmark| %>
  <li class="text-left list_title">
  <div class="bmark_title"
    <strong><%= link_to "#{bookmark.title}", bookmark.url  %></strong>
    <br>
    <% if bookmark.category %>
    -- (<%= bookmark.category %>)
    <% end %>
  </div>
  <div class="glyphs">
    <% if bookmark.comment != "" %>
    <div class="glyphicon glyphicon-plus"></div>
    <% end %>
    <% if bookmark.favorite  %>
    <div class="glyphicon glyphicon-barcode"></div>
    <% end %>
  </div>
  <div class="view_path">

    <%= link_to "View", bookmark_path(bookmark.id) %>
  </div>
</li>
<br>
<hr>
<% end %>
</ul>

<!-- TO DO -->

<!--

      3) Add CATEGORIES navigation buttons
        -in model, make CONST array of acceptable categories
          --validate that they passed in one of these (otherwise nil)
        - in controller, assign @bookmarks and @category based on params[:category]
        - in index, reference @category
          ALSO enumerate categories to make buttons, link to bookmarks/?category='this'
            linkto "funny", bookmarks_path(category: "meh")

      7) STYLE!!!!!
    -->
