<h1> <%= @category %> bookmarks </h1>
      <span class="glypicon glyphicon-pls-sign"></span>


<ul class="span6">
  <% @bookmarks.each do |bookmark| %>
  <li class="text-left list_title">
  <div class="bmark_title"
    <strong><%= link_to "#{bookmark.title}", bookmark.url  %></strong>0
    <% if bookmark.category %>
    -- (<%= bookmark.category %>)
    <% end %>
  </div>
  <div class="glyphs">
    <% if bookmark.comment != "" %>
    ^^
    <% end %>

    <% if bookmark.favorite  %>
    **
    <% end %>
  </div>
  <div class="view_path">
    <%= link_to "View", bookmark_path(bookmark.id) %>
  </div>
</li>
<hr>
<% end %>
</ul>

<!-- TO DO -->

<!--
      2) favorite and comment marked clearly (glyphs)
          a. add key to homepage
      6) fixed footer
          a. BOOKMARKr by Jake

      4). bookmark show has EDIT and DELETE options
            i. destroy is simple enough
            ii. how to do edit???? -- edit/update methods
              -- make _form partial to use in new & edit

      3) Add CATEGORIES navigation buttons
        -in model, make CONST array of acceptable categories
          --validate that they passed in one of these (otherwise nil)
        - in controller, assign @bookmarks and @category based on params[:category]
        - in index, reference @category
          ALSO enumerate categories to make buttons, link to bookmarks/?category='this'
            linkto "funny", bookmarks_path(category: "meh")

      7) STYLE!!!!!
    -->
