<div class="menu_type"><%= @category %> BookMarks</div>

Favorites  - <div class="glyphicon glyphicon-barcode"></div>
<br>
Comments  - <div class="glyphicon glyphicon-plus"></div>
<hr>
<ul class="span6">
  <% @bookmarks.each do |bookmark| %>
  <li class="text-left list_title">
  <div class="bmark_title"
    <strong><%= link_to "#{bookmark.title}", bookmark.url  %></strong>
    <br>
    <% if bookmark.category %>
    -- (<%= bookmark.category %>)
    <% end %>
  </div>
  <div class="glyphs">
    <% if bookmark.comment != "" %>
    <div class="glyphicon glyphicon-plus"></div>
    <% end %>
    <% if bookmark.favorite  %>
    <div class="glyphicon glyphicon-barcode"></div>
    <% end %>
  </div>
  <div class="view_path">

    <%= link_to "View", bookmark_path(bookmark.id) %>
  </div>
</li>
<br>
<hr>
<% end %>
</ul>

<!-- TO DO -->

<!--
      2) make bookmark show view

      7) STYLE!!!!!
    -->
