
<h1>Enter new bookmark:</h1>

<form action="" method="POST">
  URL(http...): <input type="text" name="url"><br>
  Title: <input type="text" name="title"><br>
  Description: <input type="text" name="description"><br>
  Category (Serious, Funny, Useful): <input type="text" name="category"><br>
  Checkbox (Usefull/Not Usefull): <input type="text" name="checkbox"><br>
  <input type="submit" value="Add Bookmark">
</form>

<a href="/bookmarks"><button type="">Back</button></a>
