<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>New bookmark</h1>
      <%= render 'form' %>
      <hr>
      <%= link_to '< All Bookmarks', bookmarks_path, class: 'btn btn-primary' %>
    </div>    
    <div class="col-md-4">
      
    </div>
  </div>
</div>


