
<!-- I DON'T UNDERSTAND WHY THIS BREAKS WHEN I CHANGE THE
root 'bookmarks#index' to 'bookmarks#show' -->

<h1>Bookmark:</h1>
<%= @bookmark.title %><br>
<%= link_to(@bookmark.url,@bookmark.url) %>
<%= link_to 'Back', bookmarks_path %>
