<ul>
  <li>URL: <%= link_to @bookmark.url, @bookmark.url %></li>
  <li>Title: <%= @bookmark.title %></li>
  <li>Description: <%= @bookmark.description %></li>
</ul>

<%= link_to "Back", bookmarks_path %>