<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Viewing Bookmarkr</h3>
  </div>
  <div class="panel-body" id="individual_bookmark">
    <table>
    <tr>
      <td>
        <h3><%= @bookmark.title %></h3>
      </td>
      <td>
        <% if @bookmark.is_favorite %>
          <img id="star" src="http://png.findicons.com/files/icons/1018/pixelicious/32/star.png">
        <% end %>
      </td>
    </tr>
    <tr>
      <td><h4><%= link_to @bookmark.url, @bookmark.url %></h4></td>
    </tr>
    <tr>
      <td><h4>Category: <%= @bookmark.category %></h4></td>
    </tr>
    </table>
          <div class="dropdown theme-dropdown clearfix">
          <a id="dropdownMenu1" href="#" role="button" class="sr-only dropdown-toggle" data-toggle="dropdown">Options<b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li class="active" role="presentation"><a role="menuitem" tabindex="-1" href="#">View</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Delete</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
          </div>
  </div>
</div>


