<h1> Useful bookmarks </h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
        <% if bookmark.favorite %>
          **
        <% end %>
        <%= bookmark.title %> --
        <%= bookmark.category %>
        <% if bookmark.comment %>
          ^^
        <% end %>
    </li>
  <% end %>
</ul>
