<div class="container">
  <p><%= comment.body %></p>
  <%= link_to 'Edit', edit_bookmark_comment_path(comment.bookmark_id, comment ), class: 'btn btn-info btn-xs' %>
  <%= link_to 'Delete',[comment.bookmark, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-info btn-xs'  %>  
</div>
<hr>
