<%= form_for([@bookmark, @bookmark.comments.build]) do |f| %>
  <p>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit :submit, value: 'Add Comment' %>
  </p>
<% end %>