<h4>Add a tag</h4>
<%= form_for([@bookmark, @bookmark.tags.build]) do |f| %>
  <p>
    <%= f.label :tag_text %><br>
    <%= f.text_field :tag_text %>
  </p>
  <p>
    <%= f.submit :submit, value: 'Add Tag', class: 'btn btn-primary' %>
  </p>
<% end %>