 .col-md-10{
  margin-top: 100px;
 }
 .col-md-2{
  margin-top: 100px;
 }
 .panel-heading{
  text-align: center;
 }
.panel-footer {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
