/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@mixin box_sizing {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -box-sizing: border-box;
}

.inner_app{
  font-color:white;
  background-color:#999;
}

.menu_type {
  font-size: 70px;
  color: gold;
}

#footer {
  color: cyan;
  font-size: 30px;
  text-align:center;
}

ul {
  list-style-type: none;
}

.list_title {
  padding: 10px 0px;
  font-size: 3vw;
  height: 75px;
}

.bmark_title {
  display:inline-block;
  color: gold;
  width: 80%;
  float:left;
}

.list_title a {
  text-decoration: none;
  color: green;
}

.list_title a:hover {
  text-decoration: none;
  color: cyan;
}

.glyphs {
  display:inline-block;
  color:white;
  width: 10%;
}

.view_path {
  display:inline-block;
  text-align: center;
  background-color: navy;
  border: 2px solid black;
  border-radius: 30%;
  width: 10%;
  font-size: 3vw;
  float: right;

}

.field {
  color: black;
}

html {
  overflow-y: scroll;
}
body {
  padding-top: 40px;
}
section {
  overflow: auto;
}

input, textarea, select, .uneditable-input  {
   border: 1px solid black;
   margin-bottom: 15px;
   @Include box_sizing;
}

input {
   height: auto !important;
}
