<div class="new_container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Modify a Bookmarkr</h3>
    </div>
    <div class="panel-body">
      <form action="/new" method="post">
      <p>
      <table>
        <tr>
          <td>URL:</td>
          <td><input type="text" name="url" size="30" maxlength="50" value="<!-- PUT URL RB HERE -->"></td>
        </tr>
        <tr>
          <td>Title:</td>
          <td><input type="text" name="title" size="30" maxlength="50" value="<!-- PUT TITLE RB HERE -->"></td>
        </tr>
        <tr>
          <td>Comment:</td>
          <td><textarea name="comment" cols="50" rows="4" value="<!-- PUT COMMENT RB HERE -->"></textarea></td>
        </tr>
        <tr>
          <td>Category:</td>
          <td>
            <div id="category_radio_buttons">
              <ul>
                <li><%= radio_button_tag(:category, 'serious') %>Serious</li>
                <li><%= radio_button_tag(:category, 'funny') %>Funny</li>
                <li><%= radio_button_tag(:category, 'useful') %>Useful</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>Favorite:</td>
          <td><%= check_box_tag(:is_favorite) %></td>
        </tr>
        </table>
      <button type="submit" class="btn btn-lg btn-primary" id="add_bookmarkr">Modify Bookmarkr</button>
      </p>
      </form>
    </div>
  </div>
</div>

