<footer id="footer">
  <div class="col-md-3 footer-col">
    <p></p>
  </div>
  <div class="col-md-3 footer-col">

  </div>
  <div class="col-md-3 footer-col">

  </div>
  <div class="col-md-3 footer-col">

  </div>
</footer>