<header>
  <div class='sticky'>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Bookmarkr', bookmarks_path %></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-dropdown active">
            <a href="#">Categories</a>
            <ul class="dropdown">
              <li><a href="#">Funny</a></li>
              <li><a href="#">Useful</a></li>
              <li><a href="#">Serious</a></li>
            </ul>
          </li>
          <li>
            <%= link_to 'New Bookmark', new_bookmark_path %>
          </li>
        </ul>
      </section>
    </nav>
  </div>
  <h1 class='main_title'>Bookmarkr.</h1>
  <h4 class='sub_title'>Bookmarks that don't suck.</h4>
</header>
