<header class="navbar navbar-fixed-top navbar-inverse">
  <div class = "navbar-inner">
    <div class = "container">
    <%= link_to "home glyph", bookmarks_path, id: "home", class: "top_nav"  %>

      <%= link_to "New bmark", new_bookmark_path, class: "top_nav" %>
  </div>
</div>
</header>
