<header class="navbar navbar-fixed-top navbar-inverse">
  <div class = "navbar-inner">
    <div class = "container">
      <%= link_to 'Home glyph', root_path, class: "top_nav", id: "home" %>
      <%= link_to "New bmark", new_bookmark_path, class: "top_nav" %>
  </div>
</div>
</header>
