<header class="navbar navbar-fixed-top navbar-inverse">
  <div class = "navbar-inner">
    <div class = "container">
      <span class="glypicon glyphicon-home"></span>
      <%= link_to  "glypicon glyphicon-home", root_path, class: "top_nav", id: "home" %>
      <span class="glypicon glyphicon-pls-sign"></span>
      <%= link_to "New bmark", new_bookmark_path, class: "top_nav" %>
  </div>
</div>
</header>
