<!DOCTYPE html>
<html>
<head>
  <title>Wdi4RailsHwBookmarks</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container main-body">
  <div class="row">
    <div class="col-sm-6">
      <header>
        <h1 class="logo"><span class="glyphicon glyphicon-floppy-disk"></span>bookmarkr</h1>
      </header>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-default btn-lg btn-block new-bookmark">add new</button>
    </div>
  </div>
  <%= yield %>

</div>
</body>
</html>
