<!DOCTYPE html>
<html>
<head>
  <title>Holly's Bookmarks</title>
  <meta charset="UTF8">
  <meta name="HollyBookMarks" content="Holly's Bookmarks">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
